@{
    ViewBag.Title = "Home Page";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="block">

                    <div class="slider-text-area">
                        <div class="slider-text">

                            <p class="sub-slider-text">Ahad Skolan</p>
                            <p class="slider-p">
                                A non profit organization providing cultural education
                            </p>
                            <button type="button" class="btn btn-default edit-button-1">Know More</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8" id="slider">

            </div>
        </div>
    </div>
</section>

<section id="service">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block-top">
                    <div class="service-header">
                        <h1>Services</h1>
                        <p>Duis bibendum diam non erat facilaisis tincidunt. Fusce leo neque, lacinia at tempor vitae, porta at arcu. <br /> Vestibulum varius non dui at pulvinar. Ut egestas orci in quam sollicitudin aliquet.</p>
                    </div>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- row close -->
        <div class="row">
            <div class="col-md-12">
                <div class="block-bottom">
                    <div class="service-tab">
                        <!-- Nav tabs -->
                        <ul class="badhon-tab" role="tablist">
                            <li class="active">
                                <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
                                    <i class="fa fa-heart-o"></i>
                                    Service One
                                </a>
                            </li>
                            <li>
                                <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
                                    <i class="fa fa-briefcase"></i>
                                    Service Two
                                </a>
                            </li>
                            <li>
                                <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">
                                    <i class="fa fa-leaf"></i>
                                    Service Three
                                </a>
                            </li>
                            <li>
                                <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">
                                    <i class="fa fa-briefcase"></i>
                                    Service Four
                                </a>
                            </li>
                            <li>
                                <a href="#umbrella" aria-controls="settings" role="tab" data-toggle="tab">
                                    <i class="fa fa-umbrella"></i>
                                    Service Five
                                </a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content edit-tab-content">
                            <div class="tab-pane active edit-tab" id="home">
                                <div class="teb-icon-edit">
                                    <i class="fa fa-heart-o"></i>
                                </div>
                                <h1>Title One</h1>
                                <p>Nunc accumsan hendrerit nunc, ac venenatis magna facilisis quis. Ut sit amet mi ac <br /> neque sodales facilisis. Nullam tempus fermentum lorem nec interdum. Ut id <br /> orci id sapien imperdiet vehicula. Etiam quis dignissim ante. Donec convallis tincidunt <br /> ligula, ac luctus mi interdum a.</p>
                            </div>
                            <div class="tab-pane edit-tab" id="profile">
                                <div class="teb-icon-edit">
                                    <i class="fa fa-briefcase"></i>
                                </div>
                                <h1>Title Two</h1>
                                <p>Nunc accumsan hendrerit nunc, ac venenatis magna facilisis quis. Ut sit amet mi ac <br /> neque sodales facilisis. Nullam tempus fermentum lorem nec interdum. Ut id <br /> orci id sapien imperdiet vehicula. Etiam quis dignissim ante. Donec convallis tincidunt <br /> ligula, ac luctus mi interdum a.</p>
                            </div>
                            <div class="tab-pane edit-tab" id="messages">
                                <div class="teb-icon-edit">
                                    <i class="fa fa-leaf"></i>
                                </div>
                                <h1>Title Three</h1>
                                <p>Nunc accumsan hendrerit nunc, ac venenatis magna facilisis quis. Ut sit amet mi ac <br /> neque sodales facilisis. Nullam tempus fermentum lorem nec interdum. Ut id <br /> orci id sapien imperdiet vehicula. Etiam quis dignissim ante. Donec convallis tincidunt <br /> ligula, ac luctus mi interdum a.</p>
                            </div>
                            <div class="tab-pane edit-tab" id="settings">
                                <div class="teb-icon-edit">
                                    <i class="fa fa-briefcase"></i>
                                </div>
                                <h1>Title Four</h1>
                                <p>Nunc accumsan hendrerit nunc, ac venenatis magna facilisis quis. Ut sit amet mi ac <br /> neque sodales facilisis. Nullam tempus fermentum lorem nec interdum. Ut id <br /> orci id sapien imperdiet vehicula. Etiam quis dignissim ante. Donec convallis tincidunt <br /> ligula, ac luctus mi interdum a.</p>
                            </div>
                            <div class="tab-pane edit-tab" id="umbrella">
                                <div class="teb-icon-edit">
                                    <i class="fa fa-umbrella"></i>
                                </div>
                                <h1>Title Five</h1>
                                <p>Nunc accumsan hendrerit nunc, ac venenatis magna facilisis quis. Ut sit amet mi ac <br /> neque sodales facilisis. Nullam tempus fermentum lorem nec interdum. Ut id <br /> orci id sapien imperdiet vehicula. Etiam quis dignissim ante. Donec convallis tincidunt <br /> ligula, ac luctus mi interdum a.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- row close -->
    </div><!-- .container close -->
</section>
<section id="contant-1">
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <div class="contant-1-text-area">
                    <div class="contant-1-head">
                        <h1>Register with us</h1>
                    </div>
                    <div class="contant-1-text">
                        <p class="slider-p">
                            A non profit organization providing cultural education
                        </p>
                        <button type="button" class="btn btn-default edit-button-1">Know More</button>
                    </div>
                </div>
            </div>
            <div class="col-md-8 " id="enroll">
            </div><!-- .col-md-6 close -->
        </div><!-- .row close -->
    </div><!-- .container close -->
</section>

<section id="contant-2">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="block-left">
                    <div class="contant-2-img">

                    </div>
                </div>
            </div><!-- .col-md-6 close -->
            <div class="col-md-6">
                <div class="block-right">
                    <div class="contant-2-text-area">
                        <div class="contant-2-header">
                            <h1>Cultural and religious education near you</h2>
                        </div>
                        <div class="contant-2-text">
                            <h2>
                                Duis bibendum diam non <br> erat facilisis tincidunt.</h3>
                                <p>Duis bibendum diam non erat facilaisis tincidunt. Fusce leo neque, lacinia at tempor vitae, porta at arcu. Vestibulum varius non dui at pulvinar. Ut egestas orci in quam sollicitudin aliquet. </p>
                                <button type="button" class="btn btn-default edit-button-1">Know More</button>
                        </div>
                    </div>
                </div>
            </div><!-- .col-md-6 close -->
        </div><!-- .row close -->
    </div><!-- .container close -->
</section>

<section id="submit-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <div class="submit-contant">
                        <div class="submit-header">
                            <i class="fa fa-envelope-o"></i>
                            <h3>Subscribe our Newsletter</h3>
                        </div>
                        <div class="submit-area">
                            <div class="submit-bottom">
                                <form action="">
                                    <input type="text" placeholder="your email address">
                                    <input type="submit" value="submit">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .col-md-12 -->
        </div><!-- .row close -->
    </div><!-- .container close -->
</section>
<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <div class="footer-contant">
                        <h3>Say Hi, Get In Touch</h3>
                        <div class="social-icon">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-tumblr"></i></a>
                            <a href="#"><i class="fa fa-google"></i></a>
                            <a href="#"><i class="fa fa-flickr"></i></a>
                            <a href="#"><i class="fa fa-youtube"></i></a>
                        </div>
                        <div class="support-link">
                            <ul>
                                <li><a href="#slider">Home</a></li>
                                <li><a href="#service">Services</a></li>
                                <li><a href="#contant-1">Registration</a></li>
                                <li><a href="#gallery">Gallery</a></li>
                                <li><a href="#contant-2">Cost</a></li>
                                <li><a href="#testimonial">Testimonial</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- col-md-12 -->
        </div><!-- .row -->
    </div><!-- .container -->
</section>
<footer>&copy; 2017, All rights reserved</footer>

<script src="Scripts/owl.carousel.min.js"></script>
<script src="Scripts/bootstrap.min.js"></script>
<script src="Scripts/plugins.js"></script>
<script src="Scripts/main.js"></script>